body {
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    background-color: #AD9169;
    color: #e3d477;
}

.title {
    font-family:'Bebas Neue', cursive;
    text-align: center;
    color: #e3d477;
    padding: 3vh 0 2vh 0;
    font-size: 3.7rem;
}

a a:link a:visited a:hover a:active {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: black;
}

.blurb {
    margin: 0; 
    text-align: center; 
    font-size: 2.7vw;
    font-weight: 600; 
    padding-top: 2rem;
    color: whitesmoke;
}

.recipe-name {
    font-size: larger; 
    font-weight: 900;
    padding-top: 1rem;
    color: 	whitesmoke;
}

.button-row {
    /* text-align: center; */
    padding: 0 0 2rem;
    display: flex;
}

.button-col {
    flex: 50%;
}

.cool-button {
    font-size: 1.4rem;
    font-weight: 900;
    background-color: #fff;
    padding: 2%;
}

.cool-button.one {
    color: #FF8303;
    border: 3px solid #FF8303;
    /* box-shadow: -3px 5px 0 0 #FF8303; */
}

.cool-button.two {
    color: #62760C;
    border: 3px solid #62760C;
    /* box-shadow: -3px 5px 0 0 #62760C; */
}

.img-fluid {
    width: 100%;
    height: 30vh;
}