body {
    font-family: 'Montserrat', sans-serif;    
    box-sizing: border-box;
    background-color: black;
    /* background-color: #AD9169; */
    color: white;
    /* color: #e3d477;
    color: #bc815f; */
}

.typewriter {
    position: relative;
    text-align: center;
    color: #e3d477;
    color: #bc815f;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 25px;
    font-weight: 900;
    border-right: 4px solid orange;
    box-sizing: border-box;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 60%
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

.title {
    text-align: center;
    color: #e3d477;
    color: #8c7973;
    padding: 3vh 0 0 0;
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

a:link a:visited a:hover a:active {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: black;
}

.col-sm:hover {
    opacity: 0.7;
}

.search-container {
    text-align: center;
    padding: 0 0 2rem 0;
}

.search-bar {
    background:whitesmoke;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px 0 0 10px;
    width: 400px;
}

.search-button {
    font-size: 1rem;
    font-weight: 900;
    color: whitesmoke;
    position: relative;
    border-radius: 0 10px 10px 0;
    left: -7px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FF8303;
    background-color: #9c5d41;
}

.blurb {
    margin: 0; 
    text-align: center; 
    font-size: 3.5vw;
    font-weight: 600; 
    padding: 2rem 8rem 0 8rem;
    font-family: 'Manrope', sans-serif;
}

section {
    font-family: 'Manrope', sans-serif;
    font-weight:lighter;
}

.recipe-name {
    font-size: 1.2rem; 
    /* font-weight: 900; */
    padding-top: 1rem;
    color: 	whitesmoke;
}

.button-row {
    /* text-align: center; */
    padding: 0 0 2rem;
    display: flex;
}

.button-col {
    flex: 50%;
}

.cool-button {
    font-size: 1.4rem;
    font-weight: 900;
    background-color: #fff;
    padding: 2%;
}

.cool-button.one {
    color: #FF8303;
    border: 3px solid #FF8303;
    /* box-shadow: -3px 5px 0 0 #FF8303; */
}

.cool-button.two {
    color: #62760C;
    border: 3px solid #62760C;
    /* box-shadow: -3px 5px 0 0 #62760C; */
}

.img-fluid {
    width: 100%;
    height: 30vh;
    
}

/* Sidebar and all related clickables */
.sidebar {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #ce966e;
    opacity: 90%;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidebar a {
    font-size: 25px;
    top: 50px;
    position:relative;
    color: #e3d477;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Button to open and close the sidebar */
.openbtn {
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 2;
    position:fixed;
    background-color: #ce966e;
    color: #e3d477;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.openbtn:focus {
    outline: none;
}

.hidden {
    display: none;
}