body {
    font-family: 'Montserrat', sans-serif;  
    box-sizing: border-box;
    background-color: #AD9169;
    background-color: black;
    color:  #fff;
}

main {
    font-family: 'Manrope', sans-serif;
}

.title {
    text-align: center;
    color: #e3d477;
    padding: 3vh 0 0 0;
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}


/* body {
    background-color: #E6D2AF;
    padding-left: 0%;
    padding-right: 0%;
}

.logo {
    width: 2%;
    height: 2%;
}

.recipe-serving {
    background-color: #CE996E;
    text-align: center;
    width: 30%;
}

.recipe-time {
    background-color: #CE996E;
    text-align: center;
    width: 30%;
}

.recipe-expand-grid-container {
    background-color: #E6D2AF;
    padding: 1%;    
}

.recipe-expand-serving-time-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-column-gap: 1%;
    grid-row-gap: 1%;

    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.recipe-serving-lable {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
}

.recipe-serving {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
}

.recipe-time-lable {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.recipe-time {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.recipe-image {
    height: 10%;
    width: 25%;
    text-align: center;
}

.recipe-expand-image {
    text-align: center;
}
.recipe-expand-title {
    font-size: xx-large;
    text-align: center;
}

.recipe-expand-ingredients {
    list-style-position: inside;
}

.recipe-expand-supplies {
    list-style-position: inside;   
}

.list-of-ingredients {
    background-color: #CE996E;
}

.list-of-supplies {
    background-color: #CE996E;
} */

/* Sidebar and all related clickables */
.sidebar {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #ce966e;
    opacity: 90%;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidebar a {
    font-size: 25px;
    top: 50px;
    width: 250px;
    position:relative;
    color: #e3d477;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Button to open and close the sidebar */
/* Button to open and close the sidebar */
.openbtn {
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 2;
    position:fixed;
    background-color: #ce966e;
    opacity: 90%;
    color: #e3d477;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.openbtn:focus {
    outline: none;
}

.hidden {
    display: none;
    visibility: hidden;

}

form.recipe-form.hidden {
    background-color: aqua;
}
