.scrolling-wrapper{
	overflow-x: auto;
}

.my-col{
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
}

.my-col:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
}

.my-col img {
    height: 33vh;
    width: auto;
    object-fit: contain;
}

h4, p {
    text-align: center;
}

h4 {
    text-decoration: underline;
}

.card p {
    margin: 0;
}
