#title {
    text-align: center;
    font-weight: bold;
}

#searchbar {
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchbtn {
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#icon {
    margin-right: 0%;
}

.button {
    border-radius: 5px;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.dropdown {
    color: grey !important;
    background-color: white !important;
    border-color: lightgrey !important;
    border-radius: 50px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.form-inline{
    margin-left: 25vw;
    width: 50vw;
    margin-bottom: 3vh;
}