body {
    font-family: 'Montserrat', sans-serif;  
    box-sizing: border-box;
    background-color: #AD9169;
    color:  #9e5f32;
}

main {
    font-family: 'Manrope', sans-serif;
}

.title {
    text-align: center;
    color: #e3d477;
    padding: 3vh 0 0 0;
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

a a:link a:visited a:hover a:active {
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    color: black;
}

.search-container, .add-container {
    text-align: center;
    padding: 0;
}

.search-bar, .add-bar {
    background:whitesmoke;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px 0 0 10px;
    width: 400px;
}

.search-button, .add-button {
    font-size: 1rem;
    font-weight: 900;
    color: whitesmoke;
    position: relative;
    border-radius: 0 10px 10px 0;
    left: -7px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FF8303;
    /* background-color: #9c5d41; */
}

.header-grid-container {
    display: grid;
    justify-content: center;
}

h1 {
    grid-row-start: 1;
}

.search-container {
    grid-row-start: 2;
    width: 100%;
}

p {
    overflow: hidden;
}

/* Sidebar and all related clickables */
.sidebar {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #ce966e;
    opacity: 90%;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidebar a {
    font-size: 25px;
    top: 50px;
    width: 250px;
    position:relative;
    color: #e3d477;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Button to open and close the sidebar */
.openbtn {
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 2;
    position:fixed;
    background-color: #ce966e;
    color: #e3d477;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.openbtn:focus {
    outline: none;
}

.hidden {
    display: none;
}

.deleted {
    display: none;
}