@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}

* {
    font-family: 'Source Code Pro', monospace;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipe-grid-container {
    display: grid;
    grid-template-columns:  1fr 2fr;;
    background-color: #2196F3;
    padding: 10px;
  }

.recipe-grid-img .grid-recipe-description {
    text-align: center;
}